/* Estilos para todo el proyecto */
body {
    font-family: Cambria, Cochin, Georgia ;
    background-color: #f0a8d6;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

p {
    font-family: Cambria, Cochin, Georgia;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #000000;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c4e9d7;
    border: 5px solid #f1e0b7;
    border-radius: 5px;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #c4e9d7;
    border: 5px solid #f1e0b7;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #d3c4e9;
    color: #000000;
    border: 3px solid #e5d8b8;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e5d8b8;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #d3c4e9;
    color: #000000;
    border: 3px solid #e5d8b8;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e5d8b8;
}

a {
    padding: 8px;
    margin:4px;
    background-color: #d3c4e9;
    color: #000000;
    border: 3px solid #e5d8b8;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
}

a:hover {
    background-color: #e5d8b8;
}